#contact_modal,
#lightbox_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  margin: 0 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
}

.contact_button {
  font-size: 20px;
  font-weight: 700;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  background-color: #db8876;
  color: black;
}

.filter {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 2em 0;
}

.filter label {
  font-weight: 700;
  font-size: 18px;
}

.hide-menu {
  display: none;
}

.display-menu {
  display: block;
}

.dropdown {
  position: relative;
  display: inline-block;
  min-width: 160px;
}

.rotate {
  transform: rotate(180deg);
  transition: transform 0.2s ease;
}

.chevron {
  margin-left: 4px;
  transition: transform 0.2s ease;
}

.dropbtn {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: left;
  width: 160px;
  height: 60px;
  border-radius: 5px;
  background-color: #901c1c;
  transition-duration: 0.5s;
  padding: 0 20px;
}

.dropdown-content {
  position: absolute;
  z-index: 1;
  background-color: #901c1c;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-top: -5px;
  font-size: 18px;
  font-weight: 700;
  padding: 0;
}

.dropdown-content li {
  list-style: none;
}

.dropdown-content li:first-child {
  display: none; /* ou tout autre style que vous souhaitez appliquer */
}

.dropdown-content button {
  color: #fff;
  padding: 12px 0 16px 20px;
  text-decoration: none;
  display: block;
  position: relative;
  cursor: pointer;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  font-size: 18px;
  font-weight: 700;
}

.dropdown-content button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 10px;
  width: 88%;
  height: 1px;
  background-color: #fff;
}

.dropdown-content button:hover {
  background-color: #db8876;
  color: black;
  border-radius: 0 0 5px 5px;
}

.dropbtn:hover {
  background-color: #db8876;
  color: black;
}

.photograph-gallery {
  margin: 0 100px 200px 100px;
}

.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 30px 60px;
  margin-bottom: 4em;
}

.gallery article {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gallery article:hover {
  cursor: pointer;
}

.gallery article img:hover,
.gallery article video:hover {
  transform: scale(1.05);
}

.gallery figure {
  margin: 0;
  position: relative;
  transition: all 0.2s ease-in-out;
  overflow: hidden;
  border-radius: 10px;
}

.gallery .media-container {
  overflow: hidden;
  border-radius: 5px;
  display: block;
  text-decoration: none;
}

.gallery img,
.gallery video {
  display: block;
  width: 100%;
  height: 350px;
  object-fit: cover;
  object-position: center;
  transform-origin: center bottom;
  transition: transform 0.3s ease;
}

.gallery figcaption {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  color: #901c1c;
  margin-top: 0.6em;
}

.gallery figcaption h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0;
}

.gallery figcaption span {
  align-self: flex-start;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 24px;
  font-weight: 500;
}

.gallery figcaption span i {
  color: #db8876;
}

.gallery figcaption span b {
  font-weight: 500;
}

.gallery figcaption span i.liked,
.gallery figcaption span i:hover {
  color: #901c1c;
}

.gallery-bottom-bar {
  position: fixed;
  bottom: 0;
  right: 4rem;
  background: #db8876;
  color: black;
  padding: 10px 50px;
  width: 300px;
  font-weight: 500;
  font-size: 24px;
}

.gallery-bottom-bar span:nth-child(2) {
  float: right;
}

#contact_modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: relative;
}

.modal header,
.lightbox header {
  width: 100%;
}

.modal header {
  margin: 0 0 1em 0;
}

.lightbox header {
  flex-direction: row-reverse;
  margin: 0 0 -4.8em 0;
}

.modal header img {
  cursor: pointer;
  width: 32px;
  margin-bottom: 2em;
}

.modal header h2,
.lightbox header h2 {
  font-size: 32px;
  font-weight: normal;
  text-align: left;
}

.lightbox-media {
  width: 600px;
  height: 514px;
  border-radius: 5px;
  object-fit: cover;
  margin-bottom: 20px;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 42px;
  color: #901c1c;
  cursor: pointer;
}

.fa-chevron-left {
  left: 1em;
}

.fa-chevron-right {
  right: 1em;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 24px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input,
form textarea {
  width: 100%;
  border: none;
  border-radius: 5px;
  font-size: 36px;
}

form input {
  height: 50px;
}

form textarea {
  height: 89px;
}

#lightbox_modal {
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.lightbox {
  background-color: #fff;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: relative;
}

#lightboxContent h2 {
  font-weight: 400;
  font-size: 24px;
  color: #901c1c;
  margin: 0;
}
